body {
  background-color: rgb(10, 3, 28);
}
#search {
  background-color: rgb(10, 3, 28);
  padding-bottom: 1rem;
}
h1 {
  font-size: 2rem;
  font-weight: 6900;
  background: linear-gradient(45deg, #11063b, #f70909);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
